@{
    ViewData["Title"] = "My Contact Details";
}
<h4>@ViewData["Title"]</h4>

<address>
    Wolfgang Xue<br />
    Riverview, NSW<br />
    <abbr title="Phone">P:</abbr>
    0414 500 367
</address>

